/*wrapper of all elements*/
div.combo {
    position:relative;
    left: 0px;
    top: 0px;
}


/*text input*/
.combo input {
    position: absolute;
}


/*icon*/
.combo div.icon {
    position:absolute;
}


/*list wrapper*/
.combo div.list-wrapper {
    position: absolute;
    overflow: hidden;
    /*we should set height and max-height explicitly*/
    height: 200px; 
    max-height: 200px;
    /*should be always at the top*/
    z-index: 99999;
    
}

#IE6 .combo div.list-wrapper {
    /*max-height fix for IE6*/
    /*height: expression(this.scrollHeight < 200 ? true : "200px");*/
}

/*"drop-up" list wrapper*/
.combo div.list-wrapper-up {}

/*dropdown list*/
.combo ul {}

/*dropdown list item*/
.combo  li {
    height: 20px;
}

/*active (hovered) list item*/
.combo li.active {}


.combo .visible {
    display: block;
}

.combo .invisible {
    display: none;
}

/*used when emptyText config opt is set. Applied to text input*/
.combo input.empty {}