/***CONTEXT-MENU***/
  ul.context-menu {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  /* all context menus have this class */
  .context-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -icab-border-radius: 4px;
    -khtml-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    background-color: #f2f2f2;
    border: 1px solid #999;

    font-family: 'lucida grande', tahoma, verdana;
    font-size: 11px;

    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .context-menu a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #333;
  }

  .context-menu a:hover {
    background-color: #666;
    color: white;
  }
/******/

/***COMBO-OPTIONS***/
  .combo-options{
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -icab-border-radius: 4px;
    -khtml-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #999;
    font-family: 'lucida grande', tahoma, verdana;
    font-size: 11px;
    padding: 0px 5px 5px 5px;
    width: auto;
    z-index: 99999;
  }
/******/

/***USAGE-FOR-COMBO***/
  div.combo {
    /* TODO Backport to jquery.combo.js */
    display: -moz-inline-block; /* For Firefox 1-2 */
    display: inline-block;
    /* End of TODO */
  }

  div.default div.list-wrapper {
    width: inherit;/* TODO ? Backport to jquery.combo.js ? */
  }

  div.default div.icon {
    padding: 0px;/* TODO Backport to jquery.combo.js */
  }

  div.default li {
    color: #000000;/* TODO Backport to jquery.combo.js */
    text-align: left;/* TODO Backport to jquery.combo.js */
    margin: 0 !important;/* TODO Test before backporting */
    padding: 0 0 0 5px !important;/* TODO Test before backporting */
  }

  div.default li .li-bold {
    font-weight: bold !important;/* TODO Test before backporting */
  }

  div.default div.list-wrapper {
    border-color: #B5B8C8;/* TODO Backport to jquery.combo.js */
  }

  div.default input {
    padding: 1px 3px !important;/* TODO Test before backporting */
  }
/******/